body {
    margin: 0;
    padding: 0;
}
#toolbar {
    background-color: #464545;
    padding: 10px;
    border-bottom: 1px solid #686868;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}
#toolbar button {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}
#toolbar button:hover {
    background-color: #0056b3;
}